<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.server.mapper.TrafficDataMapper">

    <!-- 批量插入方法 -->
    <insert id="batchInsertTrafficData" parameterType="list">
        INSERT INTO traffic_data (id, road_id, user_id, speed, timestamp)
        VALUES
        <foreach collection="trafficDataList" item="item" separator=",">
            (#{item.Id}, #{item.roadId}, #{item.userId}, #{item.speed}, #{item.timestamp})
        </foreach>
    </insert>

    <!-- 批量更新方法 -->
    <update id="batchUpdateTrafficData" parameterType="list">
        UPDATE traffic_data
        <set>
            id = CASE user_id
                <foreach collection="trafficDataList" item="item">
                    WHEN #{item.userId} THEN #{item.Id}
                </foreach>
                ELSE id
            END,
            speed = CASE user_id
                <foreach collection="trafficDataList" item="item">
                    WHEN #{item.userId} THEN #{item.speed}
                </foreach>
                ELSE speed
            END,
            timestamp = CASE user_id
                <foreach collection="trafficDataList" item="item">
                    WHEN #{item.userId} THEN #{item.timestamp}
                </foreach>
                ELSE timestamp
            END,
            road_id = CASE user_id
                <foreach collection="trafficDataList" item="item">
                    WHEN #{item.userId} THEN #{item.roadId}
                </foreach>
                ELSE road_id
            END
        </set>
        WHERE user_id IN
        <foreach collection="trafficDataList" item="item" open="(" separator="," close=")">
            #{item.userId}
        </foreach>
    </update>

</mapper>
